// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=7310u0kWXr6hdCxpXMwWAyoXSnM */

// As hex codes */

// Main Primary color */
$color-primary-0: #00964e;
$color-primary-1: #5ac491;
$color-primary-2: #2adc86;
$color-primary-3: #00b75f;
$color-primary-4: #008444;

// Main Secondary color (1) */
$color-secondary-1-0: #01548a;
$color-secondary-1-1: #5b94b9;
$color-secondary-1-2: #3395d5;
$color-secondary-1-3: #0168aa;
$color-secondary-1-4: #014a79;

// Main Secondary color (2) */
$color-secondary-2-0: #d87900;
$color-secondary-2-1: #ffc276;
$color-secondary-2-2: #ffa430;
$color-secondary-2-3: #ff8e00;
$color-secondary-2-4: #bd6a00;

// Main Complement color */
$color-complement-0: #d83700;
$color-complement-1: #ff9976;
$color-complement-2: #ff6530;
$color-complement-3: #ff4100;
$color-complement-4: #bd3000;

// As RGBa codes */

// Main Primary color */
$rgba-primary-0: rgba(0, 150, 78, 1);
$rgba-primary-1: rgba(90, 196, 145, 1);
$rgba-primary-2: rgba(42, 220, 134, 1);
$rgba-primary-3: rgba(0, 183, 95, 1);
$rgba-primary-4: rgba(0, 132, 68, 1);

// Main Secondary color (1) */
$rgba-secondary-1-0: rgba(1, 84, 138, 1);
$rgba-secondary-1-1: rgba(91, 148, 185, 1);
$rgba-secondary-1-2: rgba(51, 149, 213, 1);
$rgba-secondary-1-3: rgba(1, 104, 170, 1);
$rgba-secondary-1-4: rgba(1, 74, 121, 1);

// Main Secondary color (2) */
$rgba-secondary-2-0: rgba(216, 121, 0, 1);
$rgba-secondary-2-1: rgba(255, 194, 118, 1);
$rgba-secondary-2-2: rgba(255, 164, 48, 1);
$rgba-secondary-2-3: rgba(255, 142, 0, 1);
$rgba-secondary-2-4: rgba(189, 106, 0, 1);

// Main Complement color */
$rgba-complement-0: rgba(216, 55, 0, 1);
$rgba-complement-1: rgba(255, 153, 118, 1);
$rgba-complement-2: rgba(255, 101, 48, 1);
$rgba-complement-3: rgba(255, 65, 0, 1);
$rgba-complement-4: rgba(189, 48, 0, 1);
